<div class="container">
  <% if @team_member.meeting_schedule.present? %>
    <div class="card">
      <div class="card-body">
        <span><%= @team_member.name %></span>
        <div>
          <span>Upcoming one-on-one: <%= @team_member.upcoming_meeting.date_string %></span>
          <span>Next one-on-one: <%= @team_member.next_meeting.date_string %></span>
        </div>
      </div>
    </div>
    <% if @team_member.previous_meeting.present? %>
      <div class="card">
        <div class="card-body">
          <div class="card-subtitle">
            <span>Previous on-on-one  on  <%= @team_member.previous_meeting.date_string %></span>
          </div>
        </div>
      </div>
    <% end %>
    <% if @team_member.past_meetings.any? %>
      <%= @team_member.past_meetings.each do |past_meeting| %>
        <div class="card">
          <div class="card-body">
            <div class="card-subtitle">
              <span><%= past_meeting.date_string %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h3>Scheduling</h3>
    <div id="new_meeting_schedule_form"></div>
    <div
      id="team-member-data"
      data-team-member-id=<%= @team_member.id %>
      data-team-member-user=<%= @team_member.user.to_json %>
    />
    <%= javascript_pack_tag 'meeting_schedules/meeting_schedule_form' %>
  <% end %>
</div>
